<div id="moreOptionView" data-role="page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>更多功能</h1>
	</div>

	<div data-role="content" data-iscroll>
		<fieldset>
			<div class="logout" id="logoutOption" style="display:none;">
				<a id="logoutBtn" href="#" data-role="button" >退出登录</a>
			</div>
        
                <div id="loginOption" style="display:none;">
                    <a id="loginDoOption" class="a_btn" data-transition="slide">登录</a>
                    <a id="registOption" class="a_btn">注册</a>
                </div>

				

				<a href="settings.html" class="a_btn">设置</a>

			    <!--  a href="suggestion.html" class="a_btn">意见反馈</a -->
				<a href="about.html" class="a_btn">关于</a>

				<a id="adsview" class="a_btn">旅行休闲</a>
		</fieldset>

	</div>


    
    <div data-role="footer" class="footer_bar" data-position="fixed" data-tap-toggle="false" data-id="navBar">
     <div data-role="navbar" class="f_nav">
      <ul>
        <li><a id="bookTicketTab"  data-icon="custom" data-iconpos="top" data-iconshadow="false">车票预订</a></li>
		<li><a id="queryOrderTab"  data-icon="custom" data-iconpos="top" data-iconshadow="false" main="" >订单查询</a></li>
		<li><a id="my12306Tab"  data-icon="custom" data-iconpos="top" data-iconshadow="false" main="" >我的12306</a></li>
		<li><a id="moreOptionsTab"  data-icon="custom" data-iconpos="top"  class="ui-btn-active ui-state-persist" data-iconshadow="false" main="" >更多功能</a></li>
	  </ul>
	</div>
  </div>
    
</div>

